.player-filter {
  width: auto;
  min-width: 150px;
  margin-left: 1rem;
  background-color: #495057;
  color: white;
  border-color: #6c757d;
}

.active-link {
  font-weight: bold;
  color: white !important;
  border-bottom: 2px solid white;
}