.table th.editing {
  background-color: #fff3cd !important;
}

.table td {
  vertical-align: middle !important;
}

.input-group-sm {
  width: 120px;
}

.text-success {
  font-weight: bold;
}

.text-warning {
  font-weight: bold;
}

.text-danger {
  font-weight: bold;
}

.bg-danger {
  background-color: #dc3545 !important; /* rojo Bootstrap */
}

.text-white {
  color: #fff !important;
}

.my-result {
  background-color: #16be3d;
  color: #000000;
  font-weight: bold;
}

.my-winner {
  background-color: #c8e7bf;
  color: #000000;
}

.my-warning {
  background-color: #fff3cd;
  color: #856404;
}

.my-custom-text {
  color: #7e440f; 
  font-weight: bold;
}

td, th {
  text-align: center;
  vertical-align: middle; 
}