<div class="table-wrapper">
  <table class="qualified-table">
    <colgroup>
      <col style="width: 200px; min-width: 200px;">
      <col style="width: 100px; min-width: 100px;">
    </colgroup>
    <thead>
      <tr class="section-header">
        <th class="phase-header-sticky">EQUIPOS CLASIFICADOS</th>
        <th class="real-score-header"></th>
        <th *ngFor="let player of visiblePlayers" class="player-header">
          {{ player.name }}
          <div class="player-score">{{ getPlayerScore(player.id) }}</div>
        </th>
      </tr>
      <tr class="label-row">
        <th class="match-col-header">PARTIDO</th>
        <th>Clasificado</th>
        <th *ngFor="let player of visiblePlayers">{{ player.name }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of qualifiedRows">
        <td class="match-name">
          {{ row.game.team1.name | slice:0:12 }} - {{ row.game.team2.name | slice:0:12 }}
        </td>

        <td class="qualified-cell">
          <select
            *ngIf="!row.locked"
            [(ngModel)]="row.selectedTeamId"
            (ngModelChange)="onQualifiedChange(row)"
            class="qualified-select"
          >
            <option [value]="0">-</option>
            <option [value]="row.game.team1.id">{{ row.game.team1.name }}</option>
            <option [value]="row.game.team2.id">{{ row.game.team2.name }}</option>
          </select>

          <span *ngIf="row.locked">
            {{ getTeamName(row.selectedTeamId, row.game) }}
          </span>
        </td>

        <td
          *ngFor="let pp of visiblePredictions(row.playerPredictions)"
          [class.exact-match]="pp.correct"
          class="prediction-cell"
        >
          {{ pp.predictedTeamId !== 0 ? getTeamName(pp.predictedTeamId, row.game) : '-' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>