
<!-- CUARTOS DE FINAL -->
<div class="phase-section">
  <div class="phase-title">CUARTOS DE FINAL</div>
  <app-nresults-table
    [games]="gamesPhase4"
    [players]="players"
    [predictionsGame]="predictionsPhase4"
    [phase]="phase4">
  </app-nresults-table>
  <app-nqualified-table
    [games]="gamesPhase4"
    [players]="players"
    [predictionsGame]="predictionsPhase4"
    [phase]="phase4">
  </app-nqualified-table>
</div>

<!-- SEMIFINALES -->
@if (phaseUnlocked()[5]) {
<div class="phase-section">
  <div class="phase-title">SEMIFINALES</div>
  <app-nresults-table
    [games]="gamesPhase5"
    [players]="players"
    [predictionsGame]="predictionsPhase5"
    [phase]="phase5">
  </app-nresults-table>
  <app-nqualified-table
    [games]="gamesPhase5"
    [players]="players"
    [predictionsGame]="predictionsPhase5"
    [phase]="phase5">
  </app-nqualified-table>
</div>
}

<!-- 3ER PUESTO Y FINAL -->
@if (phaseUnlocked()[6]) {
<div class="phase-section">
  <div class="phase-title-final">3ER PUESTO Y FINAL</div>
  <app-nresults-table
    [games]="gamesPhase6"
    [players]="players"
    [predictionsGame]="predictionsPhase6"
    [phase]="phase6">
  </app-nresults-table>
</div>
}